/* Grundlegendes Layout */
body {
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Überschriften */
h1, h2, h3 {
    color: #dddddd;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Zentrieren der Kategorien */
    gap: 10px;
}

li {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    transition: 0.3s;
}
li:hover {
    cursor: pointer;
    background-color: #d40000;
}

/* Formulare */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*max-width: 400px;*/
    padding: 15px;
    border-radius: 10px;
}